
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {



  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  .title{

    h1{
      margin: 0 0;
      font-weight: 500;
    }
    h2{
      margin: 0 0;
      font-weight: 300;
    }
    h3{
      margin: 0 0;
      font-weight: 300;
    }
    h4{
      margin: 0 0;
      font-weight: 300;

    }
    h5{
      margin: 0 0;
      font-weight: 300;


    }
    h6{
      margin: 0 0;
      font-weight: 300;

    }
  }
  h1{
    display: block;

    font-size: 2.5em;
    margin: 0.67em 0;
  }
  h2{
      display: block;
      font-size: 1.5em;
      margin: 0.83em 0;


  }
  h3{
    display: block;
    font-size: 1.17em;
    margin: 1em 0;

  }
  h4{
    display: block;
    font-size: 1em;
    margin: 1.33em 0;
  }
  h5{
    display: block;
    font-size: .83em;
    margin: 1.67em 0;
  }
  h6{
    display: block;
    font-size: .67em;
    margin: 2.33em 0;
  }
  p{
    font-weight: 400;
    line-height: 1.5em;
  }

}
